.container {
  background-color: #000057;
  color: white;
  padding: 15px;
  padding: 40px 0px;
  padding-bottom: 80px;
  margin-top: 100px;
  opacity: 0;
  transition: opacity 1s linear 1000ms, opacity 1000ms;
  &.show {
    opacity: 1;
  }
}

.title {
  line-height: 5px;
  font-size: 1.8rem;
}
.content {
  width: 75vw;
  margin: auto;
  font-size: larger;
  font-weight: bold;
}
.underline {
  height: 5px;
  width: 70px;
  background-color: #ffffff;
}
.contactContentContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.zyzz {
  img {
    width: 15rem;
  }
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }
  img {
    width: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .link {
    img {
      width: 5rem;
    }
  }
}
