.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
  margin: auto;
  height: 100vh;

  font-size: larger;
  opacity: 0;
  transition: opacity 1s linear 2000ms, opacity 2000ms;
  &.show {
    opacity: 1;
  }
}

.title {
  display: flex;
  flex-direction: column;

  line-height: 0;
  h3 {
    color: rgb(36, 27, 196);
  }
}
.image {
  margin-top: 20px;
  display: flex;
  div {
    flex: 1;
  }
  .profile {
    border-radius: 10%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.351);
  }

  .stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .svgg {
    width: 4rem;
    margin: 5px;
    &.png {
      width: 3rem;
    }
  }
}

@media (max-width: 600px) {
}
