.container {
  display: flex;
  justify-content: flex-end;
  width: 75vw;
  margin-top: 40px;

  font-size: larger;
  a {
    font-weight: bold;
    padding: 0px 30px;
    text-decoration: none;
    cursor: pointer;

    &:visited {
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
    &:hover {
      color: rgb(2, 2, 218);
      transition: ease-in 0.2s;
    }
  }
}
